$colorBlue: #cde8fb; // Сине-голубой
$colorBlueDarker: #79c1f4; // Темнее
$colorLight: #fff; // Светлее

$colorSalat: #7fff00; // Салатовый
$colorSalatDarker: #66cc00; // Темнее
$colorSalatLight: #9fff40; // Светлее


body {
    margin: 0;
    padding: 0;
    height: 120vh;
    overflow-x: hidden;
}

.app {
    height: 100vh;
    background-image: url(bg1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bgc-change infinite 1s linear;
}

.header {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    position: sticky;
    top: 0;
    transition: background .7s, height .7s;

    &.sticky {
        background: rgba(0, 0, 0, .8);
        height: 80px;
    }

    &__burger {
        margin-right: 10vw;
        height: 65px;
        width: 65px;
        border: none;
        border-radius: 50%;
        background-color: $colorSalat;
        z-index: 2;
        box-shadow: none;
        outline: none;
        transition: background-color .2s;
        

        &:hover {
            background-color: $colorSalatLight;
        } 

        &:active {
            background-color: $colorSalatDarker;
        }

        &.hidden {
            display: none;
        }
    }
}

.menu {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: $colorBlueDarker;
    z-index: 1;
    visibility: visible;
    transition: left .2s, visibility .2s;
    border-right: thin solid black;
    
    &.hidden {
        visibility: hidden;
    }

    &__nav {
        list-style-type: none;
    }

    &__stub {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 250px;
        bottom: 0;
        z-index: 1;
        background-color: black;
    }
}

.logo {
    margin-left: 10vw;
    height: 80px;
    user-select: none;
    animation: logo-spin infinite 2s ease-in;
}


@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bgc-change {
    from {
        background-image: url(bg12.jpg);
    } 
    50% {
        background-image: url(bg1.jpg);
    }
    to {
        background-image: url(bg12.jpg);
    }
}