@import url('https://fonts.googleapis.com/css?family=Poppins:600,600i&display=swap');

$fontPoppins: 'Poppins', sans-serif;

$colorBlue: #cde8fb; // Сине-голубой
$colorBlueDarker: #79c1f4; // Темнее
$colorLight: #fff; // Светлее

$colorOrange: #ffa500; // Оранжевый
$colorOrangeDarker: #cc8400; // Темнее
$colorOrangeLight: #ffbc40; // Светлее

$colorText: #828282;


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorBlue;
    animation: loader 1.5s;


    &__spin {
        border: 16px solid black;
        border-top: 16px solid $colorOrange;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @keyframes loader {
        0% { background-color: $colorOrange; } 
        100% { background-color: $colorBlue; }
    }
}



.header {
    height: 160px;
    width: 100vw;
    display: flex;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    transition: background .7s, height .7s;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.sticky {
        background: rgba(0, 0, 0, .8);
        height: 80px;

        .header__logo {
            .lines {
                fill: $colorBlue;
            }
        }
    }

    &__logo {
        margin-left: -40px;
        height: 80px;
        user-select: none;
        animation: logo-spin infinite 2s ease-in;

        .lines {
            fill: black;
        }

        .circle {
            fill: $colorOrange;
        }
    }
    
    .ham {
        width: 80px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    
        .line {
            fill: none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: $colorOrange;
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .top {
            stroke-dasharray: 40 121;
        }
        .bottom {
            stroke-dasharray: 40 121;
        }
        &.active .top {
            stroke-dashoffset: -102px;
        }
        &.active .bottom {
            stroke-dashoffset: -102px;
        }
    }
}

.menu {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: $colorBlueDarker;
    z-index: 1;
    visibility: visible;
    transition: left .2s, visibility .2s;
    border-right: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &.hidden {
        visibility: hidden;
    }

    &__nav {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
            margin-top: 15px;
            height: 30px;
            width: 150px;
            border: none;
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            transition: background-color .2s;

            &:hover {
                background-color: $colorOrange;
            }
        }
    }

    &__big-btn {
        margin-top: 50px;
        height: 50px;
        width: 80%;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: $colorOrange;
        transition: background-color .2s;

        &:hover {
            background-color: $colorOrangeLight;
        }
    }

    &__stub {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 250px;
        bottom: 0;
        z-index: 1;
        background-color: black;
    }
}

.about {
    height: 100vh;
    width: 100vw;
    background-image: url(bg1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bgc-change infinite 1s linear, opa 1s;
    display: flex;

    &__container {
        font-family: $fontPoppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__hello {
        margin: 0;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
    }
    &__name {
        margin: 0 0 -15px -5px;
        font-size: 92px;
        color: $colorOrange;
        font-weight: 600;
    }
    &__who {
        margin: 0;
        font-size: 30px;
    }
    &__contacts {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    &__links {
        margin: 0 0 15px 0;
        font-size: 14px;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
            display: inline;
        }

    }
    &__icons {}

    @keyframes bgc-change {
        from {
            background-image: url(bg12.jpg);
        } 
        50% {
            background-image: url(bg1.jpg);
        }
        to {
            background-image: url(bg12.jpg);
        }
    }

    @keyframes opa {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

.skills {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__about {
        display: flex;
        align-items: flex-end;
        font-family: $fontPoppins;

        &_creative {
            padding: 0 15px;
            font-weight: 600;
            flex-basis: 50%;

            .creative-head {
                margin: 0;
                font-size: 48px;
            }
            .creative-text {
                font-size: 16px;
                line-height: 2;
                color: $colorText;
            }
        }

        &_text {
            padding: 0 15px;
            line-height: 2;
            flex-basis: 50%;
            font-size: 14px;
            font-weight: 600;
            color: $colorText;
        }
    }

    &__present {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $fontPoppins;

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                color: $colorText;
            }
        }
    }
}

.container {
    margin: 0 16vw;
    height: inherit;
    width: inherit;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1450px){
    .about {
        &__hello {
            font-size: 18px;
        }
        &__name {
            font-size: 74px;
        }
        &__who {
            font-size: 24px;
        }
        &__links {
            font-size: 14px;
        }
    }

    .skills {
        height: 100%;
    }
}

@media screen and (max-width: 1529px) {
    .skills {
        padding: 100px 0;
    }
}

@media screen and (max-width: 980px){
    .about {
        &__hello {
            font-size: 14px;
        }
        &__name {
            font-size: 52px;
        }
        &__who {
            font-size: 16px;
        }
        &__links {
            font-size: 12px;
        }
    }
    .skills {
        &__about {
            flex-wrap: wrap;
        }
    }
    .container {
        margin: 0 8vw;
        height: inherit;
        width: inherit;
    }
}